/*comman code*/
*{
	box-sizing:border-box;
}
.container{
	width:80%;
	margin:0px auto;
}
body{
	padding:0px;
	margin:0px;
}
/*comman code*/

/*navbar Section start*/
nav{
	height: 60px;
}
.navbar-brand{
	width: 20%;
	float: left;
	height: 100%;
}
.navbar-brand a{
	color:  rgba(0, 0, 0, 0.9);
	font-size: 20px;
	font-weight: 700;
	font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
	margin-top:15px;
	text-decoration: none;
	display:inline-block;
}
.navbar{
	width: 65%;
	float: left;
	height: 100%;
}
.navbar ul{
	padding:0px;
	margin:0px;
}
.navbar ul li{
	list-style: none;
	display:inline-block;
}
.navbar ul li a{
	height:400;
	padding:20px 20px;
	font-size: 16px;
	margin-right:10px;
	color:rgba(0, 0, 0, 0.7);
	display:inline-block;
	text-decoration: none;
	display:inline-block;
}
.navbar ul li a span{
	color:#fff;
	padding:2px 5px;
	font-weight:700;
	font-size:13px;
	background:#7832E2;
	border-radius: 5px;
	display:inline-block;
}
.navbar-btn{
	width: 15%;
	float: left;
	height: 100%;
	text-align: right;
}
.navbar-btn a {
	transition: all .4s;
    height: 400;
    padding: 5px 20px;
    font-size: 16px;
    margin: 13px 0px 0px 5px;
    border: 1px solid #03A87C;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
}

* {
.navbar-btn a:hover{
	background:#03A87C;
	color:white;
}
/*navbar Section end*/

/*header Section start*/
header{
	height: 457px;
}
.banner-content{
	width: 50%;
	height: 100%;
	float: left;
	padding-right:20px;
	padding:32px 50px ;
	background:	#E8F3EC;
}
.banner-content h1{
	color: #212529;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
}
.banner-content p{
	color:#212529;
	font-size:16px;
	font-weight:400px;
	line-height:26px;
	margin-top: 10px;
	font-family:"Source Sans Pro" - 400;
}
.banner-content button{
	color:#212529;
	font-size:16px;
	font-weight:400px;
	line-height:26px;
    border-radius: 30px;
    background-color: #212529;
	font-family:"Source Sans Pro" - 400;
	margin-top:10px;
}
.banner-content button a{
	color:#ffffff;
	font-size:16px;
	font-weight:400px;
	cursor: pointer;
    margin: 13px 0px 0px 5px;
    text-decoration: none;
    border-radius: 5px;
	font-family:"Source Sans Pro";
}
.banner-content button:hover{
    background-color: rgba(0, 0, 0, 1);
}
.banner{
	width: 50%;
	height: 100%;
	float: left;
}

.banner img{
	width: 100%;
	height: 100%;
}
}
/*header Section end*/

/*about Section start*/
.about_section{
	height: 335px;
}
.about-us-content{
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px   20px 0px 0px;
}
.about-us-content img{
	width: 100%;
	height: 110px;
	object-fit: cover;
	object-position: 0% 0%;
}
.about-us-content a{
	color: #212529;
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0px;
	display: inline-block;
	text-decoration: none;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-content p{
	color: #212529;
	font-size: 16px;
	font-weight: 400;
	line-height: 24x;
	margin: 0px;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-content a:hover{
	color: #03a87c;
}
.about-us-content small a{
	color: #6c757d;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-content small span{
	color: #6c757d;
	font-size: 14px;
	font-weight: 400;
	display: block;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-content small span:hover{
	color: #6c757d;
}
.about-us-blog{
	width: 50%;
	height: 100%;
	float: left;
}
.about-us-item{
	width: 100%;
	height: 80px;
	margin: 20px 20px 0px 0px;
}
.about-us-poster{
	width: 20%;
	float: left;
	height: 90px;
}
.about-us-poster img{
	width: 100%;
	height:100%;
}
.about-us-blog-content{
	width: 80%;
	float: left;
	height: 90px;
}
.about-us-blog-content a{
	color: #212529;
	font-size: 16px;
	font-weight: 700;
	margin-top: 5px;
	text-decoration: none;
	display: inline-block;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-blog-content a:hover{
		color: #03a87c;
		border-bottom:1px solid green;
}
.about-us-blog-content small a{
	color: #6c757d;
	font-size: 14px;
	font-weight: 400;
	Display: block;
	margin: 6px 0px;
	text-decoration: none;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.about-us-blog-content small span{
	color: #6c757d;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
/*about Section end*/

/*blog_section Section start*/
.blog_section{
	height: 500px;
	border: 1px solid red;
}
/*blog_section Section end*/

/*footer Section start*/
footer{
	height: 60px;
	border: 1px solid red;
}
/*footer Section end*/